@page "/Games/{gameId}"
@model Red.Pages.GameModel
@{
    ViewData["Title"] = Model.Game.Name;
}

<link rel="stylesheet" href="~/css/gamePage.css" />

<div>
    <h1>@Model.Game.Name</h1>

    <h2>Описание</h2>
    <p>@Model.Game.Description</p>
    <p>Жанр: @Model.Game.Genre.Name</p>
</div>

<div>
    <h3>История версий</h3>
    <table>
        <thead>
            <tr>
                <th>Версия</th>
                <th>Дата публикации</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var version in Model.Game.GameVersions)
            {
                <tr>
                    <td>@version.Version</td>
                    <td>@version.PublicationDate.ToShortDateString()</td>
                    <td>@version.Description</td>
                </tr>
            }
        </tbody>
    </table>


</div>

<div>
    <h4>Загрузить материалы</h4>
    <form method="post" enctype="multipart/form-data" asp-page-handler="Upload" asp-route-id="@Model.Game.Id">
        <span class="span-cont">
            <div>
                <label asp-for="Input.MaterialName"></label>
                <input asp-for="Input.MaterialName" class="form-control" />
                <span asp-validation-for="Input.MaterialName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.UploadedFile"></label>
                <input type="file" asp-for="Input.UploadedFile" class="form-control" />
                <span asp-validation-for="Input.UploadedFile" class="text-danger"></span>
            </div>
        </span>
        <button type="submit">Загрузить</button>
    </form>

    <h3>Список материалов</h3>
    @if (Model.Materials.Any())
    {
        <ul name="materials">
            @foreach (var material in Model.Materials)
            {
                <li class="material-item">
                    <form method="post" asp-page-handler="DeleteMaterial" asp-route-materialId="@material.Id">
                        <button type="submit" class="delete-button">&times;</button>
                    </form>
                    <a href="/materials/@(Model.Game.Name.Replace(" ", "_"))/@System.IO.Path.GetFileName(material.Path)" target="_blank" class="material-link">
                        <span>@material.Name</span>
                    </a>
                   
                </li>
            }
        </ul>
    }
    else
    {
        <p>Нет загруженных материалов.</p>
    }
</div>