@page "/Games/{gameId}"
@model Red.Pages.GameModel
@{
    ViewData["Title"] = Model.Game.Name;
}

<link rel="stylesheet" href="~/css/gamePage.css" />

<div>
    <h1>@Model.Game.Name</h1>

    <h2>Описание</h2>
    <p>@Model.Game.Description</p>
    <p>Жанр: @Model.Game.Genre.Name</p>
</div>

<div>
    <h3>История версий</h3>
    <table>
        <thead>
            <tr>
                <th>Версия</th>
                <th>Дата публикации</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var version in Model.Game.GameVersions)
            {
                <tr>
                    <td>@version.Version</td>
                    <td>@version.PublicationDate.ToShortDateString()</td>
                    <td>@version.Description</td>
                </tr>
            }
        </tbody>
    </table>


    <section>
        <h2>Список материалов</h2>
        @if (Model.GameMaterials.Any())
        {
            <ul>
                @foreach (var material in Model.GameMaterials)
                {
                    <li>
                        @if (material.FileType == "URL")
                        {
                            <a href="@material.FilePath" target="_blank">@material.Name</a>
                        }
                        else
                        {
                            <a href="/materials/@(Model.Game.Name.Replace(" ", "_"))/@System.IO.Path.GetFileName(material.FilePath)" target="_blank">@material.Name</a>
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Нет загруженных материалов.</p>
        }
    </section>

    @* Форма для загрузки файла *@
    <section>
        <h2>Загрузить материалы</h2>
        <form method="post" enctype="multipart/form-data" asp-page-handler="Upload" asp-route-id="@Model.Game.Id">
            <input type="file" asp-for="UploadedFile" />
            <button type="submit">Загрузить</button>
        </form>
    </section>
</div>